.the-tripsters-about{
    font-family: 'Reenie Beanie', sans-serif;
    font-size: 50px !important;
    letter-spacing: 4px;
    margin-top: 50px;
    margin-bottom: 30px;
}
.text-center-name{
    font-family: 'Reenie Beanie', sans-serif;
    font-size: 30px !important;
    letter-spacing: 4px;
    margin-top: 30px;
}
#demo, #demo2, #demo3{
    margin-top: 20px;
}