#title {
    font-family: 'Reenie Beanie', sans-serif;
    font-size: 50px !important;
    text-align: center;
}
#contactForm {
    border-radius: 10px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
#name {
    margin-right: 10px;
    margin-left: 10px;
    width: 25%;
    height: 30px;
    border-radius: 5px;

}
#email {
    margin-right: 10px;
    margin-left: 10px;
    width: 25%;
    height: 30px;
    border-radius: 5px;
}

name:focus {
    width: 100%;
}
.btn {
    border-radius: 10cm;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
#message {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    resize: none;
}