.contact-form{
  margin-top: inherit;
  border-radius: 10px;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.title {
    font-family: "Indie Flower", sans-serif;
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 30px;
}
.name {
    width: 30%;
    height: 30px;
    border-radius: 5px;
    display: inline-block;
}
.email {
    width: 30%;
    height: 30px;
    border-radius: 5px;
    display: inline-block;
}
.fileds {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 15px;
}
name:focus {
    width: 100%;
}
.btn {
    border-radius: 10cm;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.message {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    resize: none;
}
#error-msg {
    list-style-type: none;
}
#message {
    margin-bottom: 4px;
}
