.navbar {

    margin-bottom: 0;
    background-color: #142130;
    border: 0;
    opacity: 0.9;
}
.navbar-brand{
    font-family: 'Reenie Beanie', sans-serif;
    font-size: 30px !important;
    letter-spacing: 4px;
}
.navbar-right{
    font-family: 'Montserrat', sans-serif;
    font-size: 12px !important;
    letter-spacing: 4px;
}
.navbar li a, .navbar .navbar-brand {
    color: #d5d5d5;
}
.navbar-nav li a:hover {
    color: #142130;
    opacity: 0.7;
}
.carousel-inner img {
    width: 100%;
    height: 50%;
}
.the-tripsters-about{
    font-family: 'Reenie Beanie', sans-serif;
    font-size: 50px !important;
    letter-spacing: 4px;
    margin-top: 50px;
    margin-bottom: 30px;
}
.text-center-name{
    font-family: 'Reenie Beanie', sans-serif;
    font-size: 30px !important;
    letter-spacing: 4px;
    margin-top: 30px;
    
}