/* Navigation bar */
.navbar {
    margin-bottom: 0;
    background-color: #142130;
    border: 0;
    opacity: 0.9;
}
.navbar-brand{
    font-family: 'Reenie Beanie', sans-serif;
    font-size: 30px !important;
    letter-spacing: 4px;
}
.navbar-right{
    font-family: 'Montserrat', sans-serif;
    font-size: 12px !important;
    letter-spacing: 4px;
}
.navbar li a, .navbar .navbar-brand {
    color: #d5d5d5;
}
.navbar-nav li a:hover {
    color: #142130;
    opacity: 0.7;
}


/* Carousel Photos */
.carousel-inner img {
    width: 100% !important;
    height: 70% !important;
}

/* Collapsible  */
.collapsible {
    background-color: white;
    color: #3b005f;
    cursor: pointer;
    padding-left: 23%;
    width: 80%;
    border: none;
    text-decoration: #3b005f;
    text-align: center;
    font-family: 'Reenie Beanie', sans-serif;
    outline: none;
    font-size: 50px;
    margin-top: 30px;
}
.active, .collapsible:hover {
    background-color: #ffffff;
    color: deeppink;
}
.content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #ffffff;
}
