p{
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
}
a{
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
}
/* Navigation bar */
.navbar {
    margin-bottom: 0;
    background-color: #142130;
    border: 0;
    opacity: 0.9;
}
.navbar-brand{
    font-family: "Indie Flower", cursive;
    font-size: 30px !important;
    letter-spacing: 4px;
}
.navbar-right{
    font-family: "Montserrat", sans-serif;
    font-size: 12px !important;
    letter-spacing: 4px;
}

.navbar li a, .navbar, .navbar-brand {
     color: #d5d5d5;
}
.navbar-nav li a:hover {
    color: #142130;
    opacity: 0.7;
}
#toggle-button {
    background-color: white;
}

.icon-bar{
    background-color: #142130;
}


/* Carousel Photos */
.carousel-inner img {
    width: 100% !important;
    height: 70% !important;
}

/* Collapsible  */
.collapsible {
    background-color: white;
    color: #3b005f;
    cursor: pointer;
    padding-left: 23%;
    width: 80%;
    border: none;
    text-decoration: #3b005f;
    text-align: center;
    font-family: "Indie Flower", sans-serif;
    outline: none;
    font-size: 40px;
    margin-top: 30px;
}
.active, .collapsible:hover {
    background-color: #ffffff;
    color: deeppink;
}
.content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #ffffff;
}

/* search classes */

.search-header {
    font-family: "Indie Flower", sans-serif;
    font-size: 40px !important;
    text-align: center;
    letter-spacing: 2px;
    margin-top: 50px;
    margin-bottom: 30px;
}
.checked {
    color: dodgerblue;
}

.media, .media-body {
    overflow-x: unset !important;
    zoom: 1;
}

.displayStars {
    display: inline-block !important;
}

#results-container {

    margin-top: 20px;
}

#search-area{
    cursor: pointer;
}

.search-header:hover {
    background-color: #ffffff;
    color: deeppink;
}

.checkbox input[type=checkbox], .checkbox-inline input[type=checkbox], .radio input[type=radio], .radio-inline input[type=radio] {
    position: absolute;
    margin-top: 4px\9;
    margin-left: -35px;
    overflow: unset !important;
}

/* GeneraL Info */
#general-info{
    margin-top: 30px;
    margin-bottom: 30px;
}
.general-info-heading{
    font-family: "Indie Flower", sans-serif;
    font-size: 40px;
    letter-spacing: 4px;
    margin-bottom: 20px;
}
.chart-container{
    position: center;
    width: 80%;
    padding-left: 20%;
    margin-top: 30px;
}
#show-general-info{
    background: #ffffff;
    color: #4f4f4f;
    padding: 10px;
    size: 30px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border: 1px solid #C9B4CC;
}
#show-general-info:hover{
    background-color: #bbb;
}

#tourism, #history, #population {
    margin-top: 30px;
}
#search-name, #search-rating {
    margin-left: -24px;
}

footer{
    margin-top: 50px;
}
